<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sitexa.dao.SysOrgMapper">
  <resultMap id="BaseResultMap" type="com.sitexa.entity.SysOrg">
    <constructor>
      <arg column="oid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="oname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="olevel" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="otype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="oaddr" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ocode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="onature" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="onaturename" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.sitexa.entity.SysOrg">
    insert into sys_org (oid, oname, pid, 
      olevel, otype, oaddr, 
      ocode, onature, onaturename, 
      status, created, updated
      )
    values (#{oid,jdbcType=VARCHAR}, #{oname,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{olevel,jdbcType=INTEGER}, #{otype,jdbcType=VARCHAR}, #{oaddr,jdbcType=VARCHAR}, 
      #{ocode,jdbcType=VARCHAR}, #{onature,jdbcType=VARCHAR}, #{onaturename,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sitexa.entity.SysOrg">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="oname != null">
        oname,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="olevel != null">
        olevel,
      </if>
      <if test="otype != null">
        otype,
      </if>
      <if test="oaddr != null">
        oaddr,
      </if>
      <if test="ocode != null">
        ocode,
      </if>
      <if test="onature != null">
        onature,
      </if>
      <if test="onaturename != null">
        onaturename,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="oname != null">
        #{oname,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="olevel != null">
        #{olevel,jdbcType=INTEGER},
      </if>
      <if test="otype != null">
        #{otype,jdbcType=VARCHAR},
      </if>
      <if test="oaddr != null">
        #{oaddr,jdbcType=VARCHAR},
      </if>
      <if test="ocode != null">
        #{ocode,jdbcType=VARCHAR},
      </if>
      <if test="onature != null">
        #{onature,jdbcType=VARCHAR},
      </if>
      <if test="onaturename != null">
        #{onaturename,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <resultMap id="BaseResultMap" type="com.sitexa.pojo.SysOrg">
        <constructor>
            <arg column="oid" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="oname" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="pid" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="olevel" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="otype" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="oaddr" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="ocode" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="onature" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="onaturename" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.sitexa.pojo.SysOrg">
        insert into sys_org (oid,
                             oname,
                             pid,
                             olevel,
                             otype,
                             oaddr,
                             ocode,
                             onature,
                             onaturename,
                             status,
                             created,
                             updated)
        values (#{oid,jdbcType=VARCHAR},
                #{oname,jdbcType=VARCHAR},
                #{pid,jdbcType=VARCHAR},
                #{olevel,jdbcType=INTEGER},
                #{otype,jdbcType=VARCHAR},
                #{oaddr,jdbcType=VARCHAR},
                #{ocode,jdbcType=VARCHAR},
                #{onature,jdbcType=VARCHAR},
                #{onaturename,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER},
                #{created,jdbcType=TIMESTAMP},
                #{updated,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.sitexa.pojo.SysOrg">
        insert into sys_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oid != null">
                oid,
            </if>
            <if test="oname != null">
                oname,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="olevel != null">
                olevel,
            </if>
            <if test="otype != null">
                otype,
            </if>
            <if test="oaddr != null">
                oaddr,
            </if>
            <if test="ocode != null">
                ocode,
            </if>
            <if test="onature != null">
                onature,
            </if>
            <if test="onaturename != null">
                onaturename,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oid != null">
                #{oid,jdbcType=VARCHAR},
            </if>
            <if test="oname != null">
                #{oname,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="olevel != null">
                #{olevel,jdbcType=INTEGER},
            </if>
            <if test="otype != null">
                #{otype,jdbcType=VARCHAR},
            </if>
            <if test="oaddr != null">
                #{oaddr,jdbcType=VARCHAR},
            </if>
            <if test="ocode != null">
                #{ocode,jdbcType=VARCHAR},
            </if>
            <if test="onature != null">
                #{onature,jdbcType=VARCHAR},
            </if>
            <if test="onaturename != null">
                #{onaturename,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>